.dual {
    margin-top: 50px;
    &_header {
        text-align: center;
        font-weight: 600;
        font-size: 40px;
        line-height: 47px;
        color: $white;
    }
    &_menu {
        column-gap: 5%;
        margin-top: 20px;
        transition: column-gap 0.5s;
    }
    &_descr {
        max-width: 425px;
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $sea;
            margin-bottom: 20px;
        }
    }
    &_pursh {
        margin-top: 30px;
        justify-content: space-between;
        align-items: center;
        &-price {
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
        }
        &-btn {
            @include button($orange);
            @include hoverOrange;
            margin-top: 0;
            padding: 14px 19px;
            font-size: 16px;
        }
    }
    &_img {
        max-width: 50%;
        position: relative;
        img {
            animation: gravitation 1.5s linear infinite alternate;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 194px;
            height: 119px;
            background: rgba(79, 96, 152, 0.8);
            filter: blur(75px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}