.editions {
    &_cards {
        margin-top: 31px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: auto;
        column-gap: 16px;
        justify-content: center;
    }
    &_card {
        padding: 17px;
        background: linear-gradient(180deg, #141615 0%, #1C2023 100%);
        border-radius: 6px;
        transition: transform 1s;
        transform: translate(0);
        &:nth-child(2) {
            transition-delay: .1s;
        }
        &:last-child {
            transition-delay: .3s;
        }
        &-title {
            margin-top: 20px;
            line-height: 19px;
            text-align: center;
        }
        &-subtitle {
            margin-top: 10px;
            font-weight: 500;
            color: $sea;
            text-align: center;
        }
        &-descr {
            margin-top: 35px;
            li {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $grey;
                margin-bottom: 12px;
                &:nth-last-child(1) {
                    margin-bottom: 0;
                }
            }
        }
        &-price {
            margin-top: 5px;
            text-align: right;
            font-weight: 700;
            font-size: 19px;
            line-height: 23px;
            color: $white;
        }
        &-btn {
            margin-top: 14px;
            @include button;
            @include hoverViolet;
            margin-left: auto;
            margin-top: 14px;
            padding: 8px 19px;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
        }
    }
}