.footer {
    position: relative;
    padding-top: 160px;
    margin-top: 32px;
    &::before {
        content: ' ';
        display: block;
        height: 100%;
        width: 786px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        background: url('../images/kratos.png') center center/cover no-repeat;
        width: 100%;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(28, 32, 35, 0.7);;
        z-index: -1;
    }
    &_top {
        justify-content: space-between;
    }
    &_items {
        column-gap: 22px;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        text-transform: uppercase;
        transition: color .25s ease;
    }
    &_item {
        color: rgba(255, 255, 255, 0.5);
        &:hover {
            color: $violet
        }
    }
    &_lang {
        font-weight: 700;
        font-size: 14px;
        line-height: 27px;
        text-transform: uppercase;
        cursor: pointer;
        color: $grey;
        span {
            margin-right: 5px;
        }
        &-list {
            position: relative;
            &_current {
                color: $white;
            }
            &_var {
                background-color: $dark;
                padding: 5px 10px;
                color: $white;
                border-radius: 6px;
                position: absolute;
                visibility: hidden;
                &-item {
                    color: $white;
                    transition: color .25s ease;
                    &:hover {
                        color: $violet;
                    }
                }
            }
            &:hover {
                .footer_lang-list_var {
                    visibility: visible;
                }
            }
        }
    }
    &_text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $grey;
        margin: 0 auto;
        margin-top: 50px;
        max-width: 900px;
    }
    &_icon {
        margin-top: 38px;
        text-align: center;
    }
    &_date {
        margin-top: 20px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $grey;
    }
    &_dev {
        margin-top: 13px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $grey;
        a {
            color: $violet;
            transition: color .4s;
            &:hover {
                color: $white;
            }
        }
    }
}