.section {
    &_menu {
        padding-top: 40px;
        min-height: 100vh;
        max-width: 1920px;
        position: relative;
        margin: 0 auto;

        &::after,
        &::before {
            content: '';
            height: 100vh;
            width: 100%;
            top: 0;
            right: 0;
            display: block;
            z-index: -1;
            position: absolute;
        }

        &::after {
            background: url(../images/snow.gif) no-repeat center/cover;
            opacity: 0.1;
        }

        &::before {
            background: url(../images/3.png) center center/cover no-repeat;
        }
    }
    
    .header {
        align-items: center;
        &_menu {
            align-items: center;
            &-items {
                column-gap: 25px;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                text-transform: uppercase;
                transform: translateX(-200px);
                opacity: 0;
            }
            &-item {
                cursor: pointer;
                position: relative;
                color: $white;
                transition: color .25s;
                &:hover {
                    color: $violet;
                }
                &.lang {
                    color: $white;
                    font-weight: 700;
                    cursor: pointer;
                    
                    &:hover {
                        .header_menu-langs {
                            display: block;
                        }
                    }
                    svg {
                        width: 12px;
                        height: 12px;
                        fill: $white;
                        transform: rotate(180deg);
                        margin-left: 9px;
                      }
                }
            }
            &-langs {
                padding: 10px 15px;
                border-radius: 6px;
                background: $dark;
                position: absolute;
                top: 100%;
                display: none;
            }
            &-lang {
                font-size: 13px;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.5);
                transition: color .25s;
                cursor: pointer;
                &:hover {
                    color: $violet;
                }
            }
        }
        &_nav {
            margin-left: 25px;
            z-index: -1;
        }
        &_hamburger {
            width: 25px;
            height: 15px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            transition: width .25s;
            span {
                width: 25px;
                height: 2px;
                background-color: $white;
                position: relative;
                display: block;

                &:before, &::after {
                    content: '';
                    display: block;
                    width: 12px;
                    height: 2px;
                    background-color: $white;
                    position: absolute;
                    transition: width .25s;
                }

                &::after {
                    top: 5px;
                }
                &:before {
                    top: 10px;
                    width: 25px;
                }
            }
        }

        // Activation for nav bar
        &:hover {
            .header {
                &_menu {
                    &-items {
                        opacity: 1;
                        transform: translateX(0);
                        transition: opacity 0.2s, transform 0.3s;
                    }
                }
                &_hamburger {
                    span {
                        width: 12px;
                        
                        &:after {
                            width: 25px;
                        }
                        &:before {
                            width: 12px;
                        }
                    }
                }
                &_nav {
                    z-index: 1;
                }
            }
        }
        &_timer {
            margin-left: auto;
            column-gap: 19px;
            span {
                font-weight: 400;
                line-height: 19px;
                color: $grey;
            }
        }
        &_tab {
            column-gap: 10px;
            &-days {
                color: $sea;
                &_value {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 47px;
                    text-align: center;
                    min-width: 55px;
                }
                &_info {
                    font-weight: 400;
                    text-align: center;
                }
            }
        }
    }
    .descr {
        margin-top: 7%;
        max-width: 540px;
        animation: move 1s ease-in-out;
        h1 {
            font-weight: 600;
            font-size: 100px;
            line-height: 100px;
            color: $white;
        }
        &_subtitle {
            margin-top: 26px;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $sea;
        }
        &_btn {
            @include button;
            @include hoverViolet;
        }
    }
}