@media (max-width: 1480px) {
    .container {
        width: 1200px;
    }
}
@media (max-width: 1276px) {
    .container {
        width: 1024px;
    }
}

@media (max-width: 1100px) {
    .container {
        width: 800px;
    }
    .editions {
        &_cards {
            grid-template-columns: repeat(3, 1fr);
        }
        
    }
    .section {
        .header_tab {
            column-gap: 0px;
            &-days_value {
                font-size: 25px;
                min-width: 45px;
            }
        }
    } 
}

@media (max-width: 968px) {
    .container {
        width: 570px;
    }
    .section .descr h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 30px;
    }
    .header_timer {
        display: none;
    }
    .editions_cards {
        grid-template-columns: auto;
        row-gap: 20px;
    }
    .section .header_menu-items {
        font-size: 10px;
    }
    .footer_items {
        font-size: 10px;
    }
    .footer_lang {
        font-size: 10px;
    }
    .video_info-title {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}