.section {
    &.hidden {
        .editions {
            &_card {
                transition: transform 0;
                transform: translateX(-2000px);
            }
        }
        .dual {
            &_menu {
                transition: column-gap 0;
                column-gap: 250%
            }
        }
        .explore {
            &_info-img_wrap {
                transition: transform 0;
                transform: translateX(-2000px);
            }
            &_info-descr {
                transition: transform 0;
                transform: translateX(2000px);
            }
        }
        .video {
            transition: transform 0;
            transform: scale(0);
        }
        .h2 {
            opacity: 0;
            transition: opacity 0;
        }
        .faq_item {
            transform: translate(-2000px);
            transition: transform 0;
        }
    }
}